body {
    background-color: #fffbf7;
}
button {
    background-color: #025157;
    color: #fff;
}
h1 {
    color: #025157;
}
#parrafo {
    color:#46484c;
}
#parrafoDos {
    color:#8b8b8bcc;
}
.parrafo {
    color:#46484c;
}
.parrafoDos {
    color:#8b8b8bcc;
}